<div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-danger" (click)="open(content)"  type="button">Add Department</button>
      </div>

</div>
<div class="row movies " style="height: 220px; width:900px ; margin-top: 10px; margin-left:10px ;">
<div class="col-md-3 col-sm-6" *ngFor="let li of ListDepartment let i=index;">
<app-get-child [department]="li" photoURL="https://saap.unm.edu/assets/saap-timelapse.jpg"  (notif)="executes($event)"></app-get-child>
</div> 

</div>
<ng-template #content let-modal>
<div class="modal-header">
<h4 class="modal-title" id="modal-basic-title">New University</h4>
<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
<span aria-hidden="false">&times;</span>
</button>
</div>
<div class="modal-body">
<app-add></app-add>
</div>

</ng-template>