<div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
<div>
    <ul>
        <li>
            {{Reclamation.DateReclamation}}
        </li>
        <li>
            {{Reclamation.description}}

        </li>
        <li>
            {{Reclamation.screenshot}}

        </li>
        <li>
            {{Reclamation.statut}}

        </li>
        <li>
            {{Reclamation.type}}

        </li>
    </ul>
   
</div>
