<div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">x</button>
  </div>
<div>
    <ul>
        <li>
           Date Reclamation : {{Reclamation.DateReclamation}}
        </li>
        <li>
           Description : {{Reclamation.description}}

        </li>
        <li>
           Screenshot path : {{Reclamation.screenshot}}

        </li>
        <li>
           Status : {{Reclamation.statut}}

        </li>
        <li>
           Type : {{Reclamation.type}}

        </li>
    </ul>
   
</div>
