<div class="container mt-5">
    <div class="row" *ngIf="isLoading == true">
        <div class="col-12 text-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            <p>chargement...</p>
        </div>
    </div>
    

    <div class="row" *ngIf="isLoading == false" id="contentToConvert">
       
        <div class="col-md-4  ">
           
             <div class="row">
            </div>

            </div>
        <div class="col-md-8  ">
          <h1>Department numero :{{department.idDepart}} </h1>
          <form #modelF="ngForm">
            <label>Id Department </label>
            <input type="number" class="form-control" name="id" [(ngModel)]="department.idDepart" #id="ngModel" disabled>
            
            <label>nom Department</label>
            <input type="text" class="form-control" [(ngModel)]="department.nomDepart" #description="ngModel" name="nomDepart"  >
            
           
            
            
        
            
             <br>
             <div class="row">
                <input type="submit" class="btn btn-primary" value="Update" (click)="UpdateDepartment(modelF.value)"> 

             </div>
        </form>
        
        
            
        </div>


        
        

    </div>

    

    
</div>
