<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to delete this record.</h2>
    <div class="border text-center">
      <button data-dismiss="modal" class="btn btn-danger">Yes, Delete!</button>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Cancel
    </button>
  </div>
</ng-template>
