<div id="content" #content> 
    <h1>List Contracts</h1>
    <table class="table">
        <thead>
            <tr>
                <th>DateReclamation</th>
                <th>description</th>
                <th>screenshot</th>
                <th>Type</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reclamation of ReclamationList">
                <td>{{reclamation.DateReclamation }}</td>
                <td> {{reclamation.description}}
                </td>
                <td> {{reclamation.screenshot}}
                </td>
                <td> {{reclamation.type}}
                </td>
                <td>
                    <button class="btn btn-sm btn-danger" (click)="delete(reclamation.idReclamation)" >
                        delete
                    </button>
                    &nbsp;
                    <a class="btn btn-sm btn-warning" [routerLink]="['/reclamations/updateReclamation',reclamation.idReclamation]">
                        update  
                    </a>
                    &nbsp;
                    <a class="btn btn-sm btn-info" [routerLink]="['/reclamations/',reclamation.idReclamation]" >
                        details  
                    </a>
                    &nbsp;
                    <a class="btn btn-sm btn-info" (click)="makePDF()" >
                        generate pdf  
                    </a>
    
                </td>
            </tr>
        </tbody>
    </table>
    </div>